*{
    margin: 0;
    left: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;  
}
col{
    padding: 0;
}

.pt-6,
.py-6 {
  padding-top: 5rem !important;
}

.pe-6,
.px-6 {
  padding-right: 5rem !important;
}

.pb-6,
.py-6 {
  padding-bottom: 5rem !important;
}

.ps-6,
.px-6 {
  padding-left: 5rem !important;
}

.mt-6,
.my-6 {
  margin-top: 5rem !important;
}

.me-6,
.mx-6 {
  margin-right: 5rem !important;
}

.mb-6,
.my-6 {
  margin-bottom: 5rem !important;
}

.ms-6,
.mx-6 {
  margin-left: 5rem !important;
}

.areaPlayGame{
    border: 1px solid black;
}

.box {
    width: 8rem;
    padding: 0.3rem 0;
    border: 1px solid black;
}

.numberSelected{
  display: none;
}
.areaPlayGame .logoGame {
  width: 80%;
}

.areaPlayGame .areaHandle .box {
  cursor: pointer;
}

.funcHelp{
  list-style: none;
  padding: 0;
}
.funcHelp i {
  font-size: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}

h3{
  font-size:15px !important;
  font-weight: bolder !important;
  padding: 5px 5px;
  background-color: green;
  color: #fff !important;
  display: inline-block;
}

p{
  font-size:12px;
}

.follow{
  list-style: none;
  padding: 0;
}
.follow li i {
  font-size: 30px;
}

.bulma{
  animation-name: movebulma;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.5);
  animation-fill-mode: forwards;
}
.xifu{
  animation-name: movexifu;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.5);
  animation-fill-mode: forwards;
}
.modal_rank{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(102, 98, 98, 0.712);
  display:none;
}


#funcHelp{
  display: none;
}

.sharingan > i{
  display: inline-block;
  animation-name: moveSharingan;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
}


.rank{
  position: relative;
  animation-name: moveRank;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.close{
  
  position: absolute;
  top: 0;
  right: 0;
  
}

@keyframes movebulma {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to { transform: translateX(-30%);
    opacity: 1;
  }
}
@keyframes movexifu{
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to { transform: translateX(30%);
    opacity: 1;
  }
}

@keyframes moveSharingan{
  0%{
    transform: rotate(72deg);
  }
  25%{
    transform: rotate(144deg);
  }
  50%{
    transform: rotate(216deg);
  }
  75%{
    transform: rotate(288deg);
  }
  100%{
    transform: rotate(360deg);
  }
  
}

@keyframes moveRank{
  from{
    transform: translateY(-200%);
    opacity: 0;
  }
  to{ transform :TranslateY(-100%);
  opacity: 1;}
}